@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-color: #989898;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1487px;
    height: 1006px;
    margin: 0 auto;
    background-image: url(img/bg\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    max-width: 1180px;
    height: 392px;
    border-width: 1px;
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px #D4145A40;
}

.h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 42px;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 24px;
    position: relative;
}

input{
    width: 362px;
    height: 50px;
    border-width: 1px;
    border-radius: 9px;
    border: 1px solid #A1A1A1;
    padding-left: 21px;
    color: var(--text-color);
    z-index: 1;
}

textarea{
    width: 749px;
    height: 81px;
    border-width: 1px;
    border-radius: 9px;
    padding: 9px 21px;
    color: var(--text-color);
    border: 1px solid #A1A1A1;
    z-index: 1;
}

.position-img{
    position: absolute;
    left: 926px;
    top: 16px;
}

button{
    width: 169px;
    height: 42px;
    border-radius: 9px;
    background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
    margin: 42px 501px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}


@media (max-width: 991.98px) {
    .position-img{
        display: none;
    }
    .form{
        width: 635px;
        height: 401px;
        background-image: url(img/bg\ tablet.png);
    }
    .inputs{
        margin-top: 16px;
    }
    input{
        width: 432px;
        height: 41px;
    }
    textarea{
        width: 432px;
        height: 95px;
    }
    button{
        width: 137px;
        height: 34px;
        margin-top: 22px;
        position: relative;
        right: 255px;
    }
}


@media (max-width: 767.98px) {

    .h2{
        padding-top: 27px;
    }
    .form{
        width: 467px;
        height: 498px;
        border-radius: 15px;
        background-image: none;
    }
    .inputs{
        margin-top: 16px;
    }
    input{
        width: 322px;
        height: 30px;
        border-radius: 9px;
        text-align: center;
        margin-bottom: 19px;
    }
    textarea{
        width: 322px;
        height: 105px;
        border-radius: 9px;
        text-align: center;
    }
    button{
        width: 117px;
        height: 30px;
        font-size: 10px;
        margin-top: 22px;
        position: relative;
        right: 335px;
    }
}